/* Windows phone */
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
	font: 3em/1.5em arial, sans-serif;
	text-align: center;
	padding: 1em;
}

button {
	font-size: 1em;
	color: white;
	display: inline-block;
	text-align: center;
	border: none;
	padding: 0.5em;
	margin: 8px;
	background: gray;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
	border-radius: 6px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button:hover {
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2) inset;
}

button:focus {
	outline: 0;
}

#gameover {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	text-transform: uppercase;
	font-size: 0.5em;
	line-height: 2em;
	padding: 2em 1em;
}

#gameover h1 {
	font-size: 2em;
	padding: 0;
	margin: 0;
}

#retry {
	background: blue;
}

#timer {
	height: 1em;
	background: blue;
}

#timer.hidden {
	background: white;
}

#problem {
	font: 1em/1.5em arial, sans-serif;
}

#correct, #wrong {
	font: 1em/1em 'FontAwesome', sans-serif;
	padding: 0;
	width: 1.5em;
	height: 1.5em;
}

#correct {
	background: green;
}

#wrong {
	background: red;
}
